<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Student Form</title>
<link rel="stylesheet" type="text/css" href="/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/centerForm.css" />
<link rel="stylesheet" type="text/css" href="/slightlyLeftMargin.css" />
</head>
<body>
<nav th:insert="~{/Navbars/adminnavbar :: navbarfragment}"></nav>

<h1>Student Form</h1>
	<form action="post" th:object="${new_student}" th:action="@{/adminpage/student/save}">
	<div class="form-group" th:style="${'display : none'}">
			ID: <input type="text" th:field="*{studentId}" required/>
		</div>
   <div class="form-group">
			<label for="courseName">NAME</label> <input type="text"
				th:field="*{studentName}" class="form-control" required />
			<p th:if="${#fields.hasErrors('studentName')}"
				th:errors="*{studentName}"></p>
		</div>
	<div class="form-group">
			<label for="gender">GENDER</label> <input type="text"
				th:field="*{gender}" class="form-control" required/>
			<p th:if="${#fields.hasErrors('gender')}"
				th:errors="*{gender}"></p>
		</div>
	<div class="form-group">
			<label for="degree">DEGREE</label> <input type="text"
				th:field="*{degree}" class="form-control" required/>
			<p th:if="${#fields.hasErrors('degree')}"
				th:errors="*{degree}"></p>
		</div>
		<div class="form-group">
			<label for="semester">SEMESTER</label> <input type="text"
				th:field="*{semester}" class="form-control" required/>
			<p th:if="${#fields.hasErrors('semester')}"
				th:errors="*{semester}"></p>
		</div>
	<div class="form-group">
			<label for="mobile">MOBILE</label> <input type="tel"
				th:field="*{mobile}" class="form-control" required/>
			<p th:if="${#fields.hasErrors('mobile')}"
				th:errors="*{mobile}"></p>
		</div>
	<fieldset>
			<button type="submit" class="btn btn-primary">UPDATE</button>
		</fieldset>
	</form>
	
</body>
</html>