<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="w3.css">
<title>Student List</title>
<link rel="stylesheet" type="text/css" href="/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/slightlyLeftMargin.css" />
</head>
<body>
	<nav th:insert="~{/Navbars/adminnavbar :: navbarfragment}"></nav>
	<h1 class="slightlyLeftMargin">Student list</h1>
	<a href="AddStudent.html" th:href="@{/adminpage/student/add}"
		class="btn btn-primary slightLeftMargin">Add Student</a>

	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Degree</th>
				<th>Gender</th>
				<th>Mobile</th>
				<th>Semester</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student:${students}">
				<td th:text=${student.studentId}>Id</td>
				<td th:text=${student.studentName}>Name</td>
				<td th:text=${student.degree}>Degree</td>
				<td th:text=${student.gender}>Gender</td>
				<td th:text=${student.mobile}>Mobile</td>
				<td th:text=${student.semester}>Semester</td>
				<td><a href="EditStudent.html"
					th:href="@{/adminpage/student/edit/}+${student.studentId}">Edit</a></td>
				<td><a href="DeleteStudent.html"
					th:href="@{/adminpage/student/delete/}+${student.studentId}">Delete</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>